<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") -%>

  <body>
    <!-- locals is the key word to get the data -->

    <a href="./">index</a> <a href="/download">download</a><br>

    <form action="/contact" method="POST">
      <input type="text" placeholder="username" name="username" required>
      <input type="password" placeholder="password" name="password" required>
      <button type="submit">Submit</button>
    </form>
  </body>

</html>