<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") -%>

  <body>
    <!-- locals is the key word to get the data -->

    <a href="./">index</a><br>

    <input type="text" placeholder="username">
    <input type="password" placeholder="password">
    <button>Submit</button>

  </body>

</html>